* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #ffffff, #adbaf0);
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  z-index: 98; /* Behind the welcome-page but above the rest of the content */
  display: none; /* Hidden by default */
}

body {
  position: relative; /* Ensure the body is positioned relatively */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 98; /* Behind the welcome-page but above the rest of the content */
  display: none; /* Hidden by default */
}

.welcome-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  max-width: 800px;
  height: auto;
  background: linear-gradient(135deg, #5670d0, #8fa2f7);
  position: fixed; /* Fixed position so it stays in view */
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

.welcome-page h1 {
  margin: 0;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-left: 4.7rem;
}

.welcome-page img {
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}

#close-icon {
  position: absolute;
  top: 10px; /* Adjust the position as needed */
  right: 10px; /* Center relative to image */
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -20%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay.fadeIn {
  animation: fadeIn 1s ease-out;
}

.overlay.fadeOut {
  animation: fadeOut 1s ease-out;
}

.welcome-page.fadeOut {
  animation: fadeOut 1s ease-out;
}

.welcome-page h1 {
  color: #fff;
}

.container {
  width: 90%;
  columns: 4;
  margin: 20px auto;
  column-gap: 26.5px;
  position: relative;
}
.container .box {
  margin-bottom: 10px;
  break-inside: avoid;
  position: relative; /* Tambahkan ini */
  overflow: hidden;
}
.container .box img {
  max-width: 100%;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
}

.container .box .download-btn {
  position: absolute;
  bottom: 2vw; /* Sesuaikan jarak dari bawah */
  right: 2vw; /* Sesuaikan jarak dari kanan */
  padding: 0.5vw 1vw; /* Responsif padding */
  background-color: #5670d0; /* Updated to match theme */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.container .box:hover .download-btn {
  opacity: 1;
}

.container .box .download-btn:hover {
  background-color: #3b50a0; /* Darker blue for hover effect */
}

.container .box img:hover {
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .container {
    width: 96.5%;
    columns: 3;
  }
}
@media (max-width: 768px) {
  .container {
    width: 94.5%;
    columns: 2;
  }

  .container .box .download-btn:hover {
    background-color: #3b50a0; /* Darker blue for hover effect */
    bottom: 10px;
    right: 10px;
  }
}
@media (max-width: 476px) {
  .welcome-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    background: linear-gradient(135deg, #5670d0, #8fa2f7);
    position: fixed; /* Fixed position so it stays in view */
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: "Poppins", sans-serif;
    animation: fadeIn 1s ease-out;
  }

  .welcome-page h1 {
    margin: 0;
    font-size: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
  }

  .welcome-page img {
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
  }

  #close-icon {
    position: absolute;
    top: 10px; /* Adjust the position as needed */
    right: 10px; /* Center relative to image */
    font-size: 1rem;
    cursor: pointer;
    color: black;
  }

  .container {
    width: 94%;
    columns: 2;
    column-gap: 1px;
  }

  .container .box .download-btn {
    bottom: 5vw; /* Sesuaikan jarak dari bawah */
    right: 5vw; /* Sesuaikan jarak dari kanan */
    padding: 2vw 3vw; /* Responsif padding */
    font-size: 2vw; /* Responsif font size */
  }

  .container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container .box img {
    width: 90%;
    margin-bottom: 0.7rem;
  }
}

@media (max-width: 376px) {
}

#preloader {
  background: #5670d0 url("../images/loader.gif") no-repeat center center;
  background-size: 10%; /* Sesuaikan ukuran gambar loader */
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000; /* Pastikan preloader berada di atas semua konten */
  top: 0;
  left: 0; /* Pastikan preloader menutupi seluruh layar */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease; /* Tambahkan transisi untuk efek fade-out */
}
